@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");
:root {
  font-family: "Inter", "Space-Grotesk";
  line-height: 1.5;
  font-weight: 400;

  --green: #78ff40;
  --hover: #b5d53e;
  --accent: #d7ff40;
  --darkblue: #10121a;
  --black: #000000;
  --primary: #ffffff;
  --text: #f1f1f1;
  --darkgreen: #31691;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.2em;
}

